body {
	font-family: "Montserrat" !important;
	overflow-x: hidden;
	background: #cee3f8;
	padding: 0;
	margin: 0;
	max-width: 100%;
}

p {
	font-size: 16px;
	font-weight: 600;
}

a {
	color: rgb(44, 52, 94) !important;
	font-size: 15px !important;
}

header {
	background: linear-gradient(
			to top,
			rgba(34, 40, 68, 0.082),
			rgba(34, 40, 68, 0.182),
			rgba(34, 40, 68, 0.582),
			rgba(16, 17, 37, 0.705)
		),
		url("thr_top_algarve_1920x1000_low.webp");
	width: 100%;
	height: 500px;
	margin: 0px !important;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	position: relative;
}

.overlay {
	position: absolute;
	top: 50%;
	left: 4%;
	width: 60%;
}

#logo {
	margin-bottom: 17px;
	margin-left: 5px;
}

#logo_home {
	margin-bottom: 17px;
	margin-left: 5px;
	position: absolute !important;
	left: 1% !important;
	top: 2%;
}

h1 {
	color: white;
	font-weight: 600 !important;
	font-family: "Montserrat Alternates";
	text-shadow: 1px 1px 2px black;
}

h4 {
	color: white;
	font-size: 16px !important;
	width: 60%;
	line-height: 1.25em;
	text-shadow: 1px 1px 2px black;
}

.nav {
	justify-content: space-between;
	width: 100%;
}

.fa-search,
.fa-chevron-down,
.fa-globe {
	margin: 0px 0px 0px 8px !important;
	font-size: 20px;
	color: rgb(250, 208, 72) !important;
}

#langbtn {
	background: transparent;
	border: none;
}

.mainbutton {
	background: transparent;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px 15px;
	color: white;
	margin-top: 5px;
}

.mainbuttondark {
	color: rgb(49, 49, 49) !important;
	border: 1px solid rgb(85, 85, 85) !important;
	border-radius: 5px;
	padding: 5px 15px;
	text-decoration: none;
	font-weight: 600 !important;
	background: white;
}

.mainbuttondark:hover,
.mainbutton:hover,
.book_btn:hover {
	background: rgb(250, 208, 72);
	color: white !important;
	border: none !important;
}

.searchbar {
	position: absolute;
	top: 15%;
	left: 15%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: rgba(242, 242, 242, 0.388);
	padding: 25px;
	border-radius: 75px;
	box-shadow: inset 3px 3px 10px rgba(255, 255, 255, 0.26);
}

.searchbar > input {
	margin: 0px;
	height: 37px;
	background: rgb(255, 255, 255);
	border-radius: 0px;
	border: none;
	text-align: center;
	width: 190px;
	border-right: 0.5px solid rgb(182, 181, 181);
	cursor: pointer;
	font-size: 15px !important;
}

.searchbar > button {
	background: transparent !important;
	border: none;
	width: auto;
	height: auto;
	padding: 5px;
}

.searchbar_search {
	background: rgba(242, 242, 242, 0.892);
	padding: 25px;
	border-radius: 75px;
	box-shadow: inset 3px 3px 10px rgba(255, 255, 255, 0.26);
}

.searchbar_search > input {
	margin: 0px;
	height: 37px;
	background: rgb(255, 255, 255);
	border-radius: 0px;
	border: none;
	text-align: center;
	width: 190px;
	cursor: pointer;
	font-size: 15px !important;
}

#usp {
	height: auto;
}

.plainbtn {
	background: transparent;
	border: none;
	border-radius: 5px;
	box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.553);
	color: white;
	margin-right: 2px !important;
	padding: 5px 10px;
	font-size: 15px;
}

#introtxt {
	margin-top: 50px;
}

.bookings {
	height: auto;
	margin: 90px auto !important;
	text-align: justify;
	display: grid;
	grid-template-rows: 300px;
	grid-template-columns: 1fr 1fr;
	background-position: bottom;
	width: 96%;
	padding: 20px;
}

#introimage > img {
	height: 360px;
	width: auto;
	margin-top: -40px;
}

#introimage > img:hover {
	transform: scale(1.2);
}

.bookings_search {
	background: #24663f;
	color: rgba(255, 255, 255, 0.849);
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
}

.bookings_search > h6 {
	font-weight: 500;
	margin-bottom: 15px;
	font-size: 20px;
}

.houses {
	overflow-x: scroll;
	height: auto;
	display: flex;
	width: 96%;
	margin: 0 auto;
	background-size: cover;
}

.card {
	min-width: 350px !important;
	margin: 15px;
	border-radius: 60px 60px 60px 0px !important;
	border: none !important;
	position: relative;
	border-radius: 26px;
	background: linear-gradient(145deg, #f0f0f0, #ffffff);
	box-shadow: 20px 20px 70px #76e6e669, -10px -20px 30px #ffffff;
}

.card-result {
	min-width: 250px !important;
	margin: 15px;
	border-radius: 60px 60px 60px 0px !important;
	border: none !important;
	position: relative;
	background: linear-gradient(rgb(248, 239, 134), white);
	border-radius: 26px;
	background: linear-gradient(145deg, #e5e6e6, #ffffff);
	box-shadow: 20px 20px 70px #76e6e669, -20px -20px 70px #ffffff;
	display: flex;
}

.card-result > .card-body {
	margin-top: 20px;
}

.card-result > img {
	width: 400px;
	height: 250px;
	object-fit: fill;
	border-radius: 60px 60px 60px 0px;
}

.card > img {
	min-width: 300px !important;
	object-fit: fill;
	border-radius: 60px 60px 60px 0px;
}

.card-title {
	font-weight: 600 !important;
	font-size: 18px;
}

.card-text {
	font-size: 14px;
}

.bottom {
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
	width: 100%;
}

#Rating {
	border-radius: 5px 10px;
	color: rgb(43, 43, 70);
	padding: 5px 7px;
	background: rgb(250, 208, 72);
	border: 1px solid rgba(255, 255, 255, 0.178);
	position: absolute;
	top: 4%;
	right: 8%;
}

#Price {
	font-size: 16px;
	margin-top: 15px;
	font-weight: bolder;
}

li {
	list-style-type: none;
}

.about {
	background: linear-gradient(340deg, rgb(253, 251, 182), white, white);
	margin-top: 100px;
	display: flex;
}

#about_img {
	margin: 0px;
}

#about_us {
	width: 500px;
	text-align: justify;
	margin: 50px auto;
}

#about_us > p {
	font-weight: 400;
	font-size: 15px;
}
a {
	font-weight: 300 !important;
	font-size: 13px;
}

.footer {
	display: flex;
	justify-content: space-around !important;
	width: 101vw !important;
	padding: 45px 0px !important;
	height: 150px !important;
	margin-top: 100px;
	background: rgb(43, 43, 63);
	padding: 20px;
	border-top: 1px solid rgb(204, 203, 203);
}

.maincontainer {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 55% 45%;
	border-top: 1px solid rgb(231, 231, 231);
}

h2 {
	color: #142530;
	font-weight: 600 !important;
	font-size: 24px !important;
	margin-bottom: 0;
	font-family: "Montserrat";
}

h3 {
	color: rgb(41, 41, 53);
	font-size: 24px !important;
	font-family: "Montserrat";
	font-weight: 600 !important;
}

#overview > h3 {
	color: #12212b;
	font-weight: 600;
}

/* Search Results*/
#buttons {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

#buttons > button {
	color: rgb(66, 61, 99);
	border: 2px solid rgb(41, 41, 53);
	border-radius: 5px;
	padding: 5px 15px;
	text-decoration: none;
	font-weight: 600 !important;
	margin-right: 2px;
}

#buttons > p {
	color: #12212b !important;
}

#houselist {
	height: 140vh;
	overflow-y: scroll;
}

.resultmap > iframe {
	height: 150vh;
}

/*Details*/

.smallheader {
	background: white;
	height: auto !important;
	padding: 0px 0px;
	display: flex;
	flex-direction: column !important;
	align-items: center;
	justify-content: center;
	padding-top: 25px !important;
	border-bottom: 1px solid rgb(207, 207, 207) !important;
}

.smallheader_main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0);
	height: auto !important;
	padding: 0px 0px;
	display: flex;
	flex-direction: column !important;
	align-items: center;
	justify-content: center;
	padding-top: 25px !important;

	z-index: 1;
}

.mainheadnav button,
.mainheadnav > a {
	color: white !important;
}

.searchbar_det {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	width: 100vw !important;
	border-radius: 2px;
	border: 1px 1px 0px 1px solid rgb(192, 191, 191);
	background-color: rgb(189, 189, 189);
	margin-bottom: -2px;
}

.searchbar_det > input {
	border: 1px solid rgb(211, 210, 210);
	border-radius: 5px;
	height: 35px;
	font-size: 14px;
	background: #fcfdfd;
	box-shadow: inset 11px -11px 17px #f7f7f7, inset -11px 11px 17px #e6e6e6;
	text-align: center;
}

.details {
	width: 90%;
	background: white;
	margin: 40px auto 20px auto;
	position: relative;
}

#det_search_btn {
	border: none;
	background: none;
}

#det_search_btn > i,
#langbtn > i {
	color: rgb(66, 61, 99);
}

.det_btn {
	border: none;
	background: none;
}

.det_btn:hover {
	text-decoration: underline;
}

.det_list > div > p {
	font-weight: 400;
	margin-left: 5px;
	margin-top: 17px;
	font-size: 15px;
}

.det_desc > p {
	font-size: 15px;
	font-weight: 400;
}

#hostimg {
	border-radius: 90px;
	height: 60px;
	width: 60px;
	object-fit: cover;
	margin-left: 50px;
	border: 1px solid rgb(215, 210, 248);
}

.grid-container_gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"mi img"
		"mi img";
	max-height: 450px !important;
	grid-gap: 7px;
	border-radius: 10px;
}

.gallery_pics {
	grid-area: img;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	height: 450px;
	grid-gap: 7px;
}

.main_image {
	grid-area: mi;
	object-fit: fill;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.img_one,
.img_two,
.img_three,
.img_four {
	object-fit: fill;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.ausstattung_det > i {
	font-size: 20px !important;
	color: rgb(7, 7, 7);
}

.ausstattung > i {
	color: rgb(250, 208, 72);
}

.calc {
	position: fixed;
	right: 10%;
	top: 33%;
	padding: 20px 25px;
	border: 1px solid rgb(209, 209, 209);
	width: 380px;
	height: auto;
	border-radius: 10px 60px 10px 0px;
	background: rgb(253, 253, 250);
}

.calc > h3 {
	font-weight: 700 !important;
	font-size: 18px !important;
}

.calc > p {
	font-weight: 400 !important;
}

.book_btn {
	background: rgb(44, 52, 94);
	padding: 10px 15px;
	width: 90%;
	border-radius: 5px;
	color: white;
	text-shadow: 2px 1px 10px rgb(67, 67, 73);
	font-weight: 600;
	letter-spacing: 0.1rem;
	border: 2px solid rgb(245, 245, 250);
	margin: 10px auto;
}

.btn_a {
	color: white;
}

.det_wrap {
	width: 60%;
}

.det_desc > p {
	text-align: justify;
}

.calwrap {
	border-radius: 5px;
	position: relative;
}

.fa-chevron-left {
	position: absolute;
	top: 45%;
	left: 0;
}

.fa-chevron-right {
	position: absolute;
	top: 45%;
	right: 0;
}

h5 {
	font-weight: 600 !important;
}

/*Kalender*/

.calendar {
	margin: 20px auto;
	display: flex;
	justify-content: center;
	padding: 20px;
}

#wp-calendar {
	color: rgb(88, 195, 209);
	font-size: 19px;
	margin: 7px;
	border-bottom: 1px solid rgb(214, 213, 213);
}

#wp-calendar caption {
	color: rgb(71, 71, 71);
	font-size: 14px;
	padding: 10px 0;
	text-align: center;
	z-index: -99;
}

#wp-calendar thead th {
	font-size: 14px;
	padding: 5px 5px 5px 16px;
	color: rgb(109, 109, 109);
	text-transform: uppercase;
	height: 20px;
	background: rgb(226, 226, 226);
}

#wp-calendar tbody td {
	color: #666;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	padding: 13px;
	text-align: center;
	font-weight: 500;
	font-family: "Montserrat Alternates";
	border-radius: 5px;
	border-color: #fff #d6d6d6 #bbbbbb #fff;
	background: #ffffff;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#ffffff),
		to(#fdfdfd)
	);
	background: -moz-linear-gradient(top, #edededde, #dedede);
}

#wp-calendar tbody td.pad {
	background: #f5f5f5;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f5f5f5),
		to(#ececec)
	);
	background: -moz-linear-gradient(top, #f5f5f5, #ececec);
}

#wp-calendar tfoot {
	color: #e0e0e0;
	font-size: 12px;
}

#wp-calendar tfoot td {
	padding: 10px 10px;
}

#wp-calendar tfoot a {
	color: #666;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#wp-calendar .selected {
	color: rgb(99, 98, 98);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	background: rgb(255, 254, 251);
	box-shadow: inset 2px 2px 5px rgb(223, 223, 222),
		inset 2px 2px 5px rgb(223, 223, 222);
}

#wp-calendar .occupied {
	color: rgb(172, 172, 172);
	font-size: 15px !important;
	text-decoration: line-through;
}

.paymentoptions {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 30px;
}

label {
	margin-left: 5px;
}

.pop_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.pop_overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 50px auto;
	padding: 20px;
	background: white;
	border-radius: 5px;
	width: 60%;
	height: 90vh;
	overflow: scroll;
	position: relative;
	transition: all 2s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 35px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(29, 28, 28);
	border: 1px solid rgb(177, 175, 175);
	padding: 3px 7px;
	border-radius: 7px;
}
.popup .close:hover {
	color: #19273b;
}
.popup .content {
	height: auto;
	color: black;
}

.thumbnail {
	margin: 10px 0px;
	border-radius: 7px;
	position: absolute;
	top: 13%;
	right: 4%;
	object-fit: fill;
	height: 100px;
	width: 100px;
}

.pop_form {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	grid-gap: 7px;
}

.pop_form > input {
	border: 1px solid gray;
	box-shadow: 2px 1px 5px rgb(216, 216, 219);
}

textarea {
	height: 100px !important;
}

.book_btn_pop {
	background: rgb(44, 52, 94);
	padding: 10px 15px;
	width: 96%;
	border-radius: 5px;
	color: white;
	font-weight: 600;
	letter-spacing: 0.1rem;
	border: 1px solid rgb(250, 208, 72);
	margin: 10px auto;
	align-self: flex-end;
}

.book_btn_pop:hover {
	background: rgb(250, 208, 72);
	color: white;
	border: none;
	transition: all 0.2s ease-in;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(250, 208, 72);
}

.footer > div > li > a {
	color: rgb(216, 215, 215) !important;
}

.footer > div > li > a:hover {
	text-decoration: underline !important;
	cursor: pointer;
}

/*Contact*/

.contact {
	padding: 0%;
	height: 370px !important;
	visibility: hidden;
	position: fixed;
	top: 10%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: 0;
	border-radius: 7px !important;
}

.close_form {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 35px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(29, 28, 28);
	border: 1px solid rgb(177, 175, 175);
	padding: 3px 7px;
	border-radius: 7px;
}

.contact:target {
	visibility: visible;
	opacity: 1;
}
.col-md-4 {
	background: rgba(44, 52, 94);
	padding: 5%;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.contact-info {
	margin-top: 10%;
	margin-left: 10%;
}
.contact-info img {
	margin-bottom: 15%;
}
.contact-info h2 {
	margin-bottom: 10%;
	color: white;
	font-size: 20px !important;
}

#phone {
	width: auto;
	display: flex;
}

.contact-info h4 {
	text-shadow: none;
	color: white;
}
.col-md-8 {
	background: #fff;
	padding: 3%;
	border-top: 1px solid rgba(128, 128, 128, 0.767);
	border-right: 1px solid rgba(128, 128, 128, 0.767);
	border-bottom: 1px solid rgba(128, 128, 128, 0.767);
	border-radius: 0px 7px 7px 0px;
}
.contact-form label {
	font-weight: 300;
}
.contact-form button {
	background: rgb(44, 52, 94);
	color: #fff;
	font-weight: 600;
	width: 25%;
}
.contact-form button:focus,
.contact-form input:focus {
	box-shadow: none;
	border-color: gray;
}

.contact input {
	border-bottom: 1px solid rgb(189, 188, 188);
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
}

a {
	color: black !important;
	text-decoration: none !important;
}

/*Login*/

#login {
	padding: 0%;
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	border-radius: 7px;
	height: auto;
}

#login:target {
	visibility: visible;
	opacity: 1;
}

.form-heading {
	color: #fff;
	font-size: 23px;
}
.panel h2 {
	color: #444444;
	font-size: 18px;
	margin: 0 0 8px 0;
}
.panel p {
	color: #777777;
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 24px;
}
.login-form .form-control {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 7px;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}
.main-div {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 7px;
	margin: 10px auto 30px;
	max-width: 38%;
	padding: 50px 70px 50px 71px;
}

.login-form .form-group {
	margin-bottom: 10px;
}
.login-form {
	text-align: center;
}
.forgot a {
	color: #777777;
	font-size: 14px;
	text-decoration: underline;
}
.login-form .btn.btn-primary {
	background: #f0ad4e none repeat scroll 0 0;
	border-color: #f0ad4e;
	color: #ffffff;
	font-size: 14px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0;
}
.forgot {
	text-align: left;
	margin-bottom: 30px;
}
.botto-text {
	color: #ffffff;
	font-size: 14px;
	margin: auto;
}
.login-form .btn.btn-primary.reset {
	background: #ff9900 none repeat scroll 0 0;
}
.back {
	text-align: left;
	margin-top: 10px;
}
.back a {
	color: #444444;
	font-size: 13px;
	text-decoration: none;
}

button:focus,
button:active,
a:focus {
	outline: none !important;
	box-shadow: none;
}

#loginbtnmobile {
	display: none;
}

/* QUERIES */

@media screen and (max-width: 768px) {
	* {
		overflow-x: hidden !important;
	}
	body,
	.smallheader_main {
		min-width: 100%;
		overflow-x: hidden !important;
		margin: 0 auto;
	}

	.smallheader_main {
		padding: 15px 10px !important;
	}

	p {
		font-size: 15px;
	}

	#logo_home {
		height: 18px !important;
		margin-top: 16.5px;
		margin-right: 10px;
	}

	#buttons {
		display: flex;
		flex-direction: column !important;
		justify-content: space-between !important;
		height: auto !important;
		padding: 20px !important;
		margin-top: 20px;
	}

	.searchbar {
		display: flex;
		flex-direction: column !important;
		justify-content: space-between !important;
		height: auto !important;
		padding: 25px 15px 15px 10px !important;
		margin: 10px auto;
		margin-left: -15px;
		width: 80% !important;
		background: none;
	}

	input,
	.form-control-sm {
		margin-bottom: 5px !important;
		width: 80% !important;
		border-radius: 7px !important;
		background-color: rgba(255, 255, 255, 0.992) !important;
	}

	header {
		width: 103% !important;
		height: 650px !important;
	}

	.about {
		min-width: 105%;
		margin: 40px auto;
	}

	#about_img {
		width: 100% !important;
	}

	.overlay {
		width: 100% !important;
		height: auto;
	}

	.overlay > h1 {
		font-size: 26px;
		margin-top: 50px;
	}

	.overlay > h4 {
		font-size: 13px !important;
		width: 85%;
	}

	.nav {
		top: 1%;
		right: 3%;
	}

	.det_btn {
		font-size: 14px !important;
	}

	.nav > button,
	#buttons > button {
		font-size: 12px !important;
		height: 25px;
		margin: 2px;
	}

	.fa-globe,
	.fa-chevron-down {
		font-size: 14px;
		margin-left: 0px;
	}

	#usp {
		flex-direction: column !important;
		align-items: center;
		width: 100vw !important;
		margin-left: 0px !important;
	}

	.footer {
		display: flex !important;
		font-size: 10px;
		flex-direction: column !important;
		align-items: center !important;
		height: auto !important;
		text-align: center;
		justify-content: center;
		width: 108vw !important;
		margin: 0;
	}

	.bookings {
		grid-template-rows: auto auto;
		grid-template-columns: 100%;
		padding: 0px !important;
		width: 100%;
		margin: 0;
	}

	.fa-user-circle {
		color: rgb(250, 208, 72);
		margin-top: 10px;
	}

	.card {
		min-width: 250px !important;
	}

	.card > img {
		min-width: 250px !important;
	}

	.houses,
	.overview,
	.about,
	#about_img {
		width: 100%;
		padding: 0px !important;
	}

	.about {
		flex-direction: column;
	}

	#about_img {
		width: 100vw;
		height: auto;
	}

	#about_us {
		width: 99vw !important;
		padding: 0px 20px;
		margin: 0px important!;
	}

	#profilepic {
		height: 200px;
		margin: 0 auto;
	}

	#introimage > img {
		width: 340px !important;
		margin-bottom: 10px;
		height: auto;
	}

	#introtext {
		font-weight: bolder;
		width: 80%;
		margin: 0 auto;
	}

	#kontaktbtn {
		float: none;
	}

	h3 {
		margin-left: 0 !important;
		text-align: left;
		font-size: 20px !important;
		margin-top: 10px !important;
	}

	.infos {
		flex-direction: column;
		width: 100%;
	}

	.info_dets {
		width: 100%;
		box-shadow: none;
	}

	#main_image {
		width: 100%;
		height: auto;
	}

	.calendar {
		flex-direction: column;
	}

	#wp-calendar {
		margin-bottom: 15px;
		margin-right: 0px;
	}

	.calc {
		padding: 0px;
		margin-left: 0px;
	}

	.footer li {
		font-size: 10px;
	}

	#footer_img {
		margin-top: 10px;
	}

	#logo {
		width: 80px;
		height: auto;
	}

	p,
	.mainbtn,
	.fa-envelope,
	.fa-comments,
	.fa-trash-alt,
	.fa-check-double,
	.fa-globe,
	.fa-chevron-down,
	i,
	.det_btn {
		font-size: 14px;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 18px !important;
	}

	h4,
	h5 {
		font-size: 16px !important;
	}

	#navbar {
		min-width: 100vw !important;
		padding: 0px !important;
		overflow-x: hidden;
	}

	#loginbtn {
		display: none;
	}

	#loginbtnmobile {
		display: inline-block;
	}

	#login,
	.main-div,
	.login-form,
	.panel,
	.loginwrap,
	#Login {
		min-width: 99% !important;
		top: 10%;
		margin: 0 auto;
	}

	#Login > div > input {
		width: 100% !important;
	}

	.mainheadnav {
		align-items: center;
		margin-top: -5px;
	}
}
